<%= form_for(@product_attribute_type_variation) do |f| %>
  <% if @product_attribute_type_variation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_attribute_type_variation.errors.count, "error") %> prohibited this product_attribute_type_variation from being saved:</h2>

      <ul>
      <% @product_attribute_type_variation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_attribute_type_id %><br />
    <%= f.collection_select :product_attribute_type_id, ProductAttributeType.all, :id, :name, :prompt => 'Select Product Attribute Type' %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
