<h1>Listing product_attribute_type_variations</h1>

<table>
  <tr>
    <th>Product attribute type</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @product_attribute_type_variations.each do |product_attribute_type_variation| %>
  <tr>
    <td><%= product_attribute_type_variation.product_attribute_type_id %></td>
    <td><%= product_attribute_type_variation.name %></td>
    <td><%= link_to 'Show', product_attribute_type_variation %></td>
    <td><%= link_to 'Edit', edit_product_attribute_type_variation_path(product_attribute_type_variation) %></td>
    <td><%= link_to 'Destroy', product_attribute_type_variation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product attribute type variation', new_product_attribute_type_variation_path %>
