<p id="notice"><%= notice %></p>

<% puts '666666666666666666666666666666666666666666666666666666' %>
<% puts '666666666666666666666666666666666666666666666666666666' %>
<% puts '666666666666666666666666666666666666666666666666666666' %>
<% puts '666666666666666666666666666666666666666666666666666666' %>
<% puts '666666666666666666666666666666666666666666666666666666' %>
<% puts '666666666666666666666666666666666666666666666666666666' %>
<% puts '666666666666666666666666666666666666666666666666666666' %>
<% puts '666666666666666666666666666666666666666666666666666666' %>
<% puts '666666666666666666666666666666666666666666666666666666' %>
<% puts '666666666666666666666666666666666666666666666666666666' %>
<% puts '666666666666666666666666666666666666666666666666666666' %>
<% puts '666666666666666666666666666666666666666666666666666666' %>
<% puts '666666666666666666666666666666666666666666666666666666' %>
<% puts '666666666666666666666666666666666666666666666666666666' %>
<% puts '666666666666666666666666666666666666666666666666666666' %>
<%= form_for(@product_attribute_type_variation_value) do |f| %>
  <% unless @product_attribute_type_variation_values.nil? %>
  	<% puts 'got here' %> 
	  <% unless @product_attribute_type_variation_values.nil? %> 
	  	<% puts 'got here too' %> 
	  	<% @product_attribute_type_variation_values.each do |keyword| %>
	  		<%= keyword.value %><br />
	  	<% end %> 
	  <% end %> 
	<% end %> 

  <div class="field">
    <%= f.hidden_field :product_attribute_type_variation_id, :value => @product_attribute_type_variation.id %> 
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit "Add Keyword" %>
  </div>
<% end %>


<p>
  <b>Product attribute type:</b>
  <%= @product_attribute_type_variation.product_attribute_type_id %>
</p>

<p>
  <b>Name:</b>
  <%= @product_attribute_type_variation.name %>
</p>


<%= link_to 'Edit Name', edit_product_attribute_type_variation_path(@product_attribute_type_variation) %>